Source: freebasic-bootstrap
Section: devel
Priority: extra
Maintainer: Daniel C. Klauer <daniel.c.klauer@web.de>
Build-Depends: debhelper (>=9),
 libncurses5-dev | libncurses-dev, libffi-dev, libgpm-dev,
 libgl1-mesa-dev | libgl-dev,
 libx11-dev, libxext-dev, libxpm-dev, libxrandr-dev, libxrender-dev
Standards-Version: 3.9.5
Homepage: http://www.freebasic.net/

Package: freebasic-bootstrap
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, binutils, gcc,
 libncurses5-dev | libncurses-dev, libffi-dev
Conflicts: freebasic, libfreebasic, libfreebasic-dev
Description: FreeBASIC Compiler bootstrapped from precompiled sources
 This package contains a version of the FreeBASIC Compiler that is built based
 on precompiled sources. It is used to bootstrap the main freebasic package.
